<div class="max-w-7xl mx-auto relative pt-20">
  <%= render "search" %>
  
  <% if notice %>
    <div class="text-green-500 text-center mb-10"><%= notice %></div>
  <% end %>

  <%= render @movie %>
</div>